@import "tailwindcss";
@plugin "daisyui";
@theme {
  --dark-mode: class;
}
:html,
body,
root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  padding: 0;
  margin: 0;
  font-synthesis: none;
}

body {
  margin: 0;
  min-width: full;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  z-index: 1;
}

a {
  font-weight: 500;

  text-decoration: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
  box-shadow: 0 2px 8px #2d72d9;
}
button:hover {
  border-color: inherit;
  box-shadow: 0 4px 16px inherit;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: inherit;
    background: inherit;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: inherit;
    box-shadow: 0 2px 8px #7fd1ff;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 5s linear infinite;
}
